{% extends 'layout.html' %}


<!-- 当前页面：欢迎页 -->
{% block content %}
    <div class="container">
        <div class="col-md-11">
            <div class="jumbotron welcome">
                <h1>欢迎使用CRM系统</h1>
                <p>首次使用，请点击上方导航栏的快捷链接</p>
                <p><span id="welcome-btn" class="btn btn-primary btn-lg">我知道了</span></p>
            </div>
        </div>
    </div>
{% endblock %}


<!-- 当前页面的js脚本-->
{% block js %}
    <script type="text/javascript">
        $(function () {
            $('#welcome-btn').click(function () {
                $('.welcome').stop().fadeOut(300)
            })
        })
    </script>
{% endblock %}