{% load static %}

{% load rbac %}

<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>CRM系统（demo）</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    {#	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />#}
    <link rel="stylesheet" href="{% static 'plugins/style.css' %} "/>
    <!-- Style-CSS -->
    {#	<link rel="stylesheet" href="css/fontawesome-all.css">#}
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-all.css' %} "/>
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    {#	<link href="http://maxcdn.bootstrapcdn.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">#}
    {#	<link href="http://maxcdn.bootstrapcdn.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.css' %} "/>
    <!-- //web-fonts -->
</head>

<body>
<!-- bg effect -->
<div id="bg">
    <canvas></canvas>
    <canvas></canvas>
    <canvas></canvas>
</div>
<!-- //bg effect -->
<!-- title -->
<h1 style="margin: 66px; color: white">CRM客户关系管理系统(demo)</h1>
<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <form action="#" method="post">
        {% csrf_token %}
        <h3 style="color: #aaa;">测试账号&nbsp;(&nbsp;<i class="fas fa-user"></i>&nbsp;:&nbsp;test &nbsp;
            <i class="fas fa-unlock-alt"></i>&nbsp;:&nbsp;123&nbsp;)
        </h3>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-user"></i>
                管理员
            </label>
            <input placeholder="请输入用户名" name="user" type="text" required="">
        </div>
        <div class="form-style-agile">
            <label>
                <i class="fas fa-unlock-alt"></i>
                密码
            </label>
            <input placeholder="请输入密码" name="pwd" type="password" required="">
        </div>
        <!-- //checkbox -->
        <input type="submit" value="登录">
    </form>
</div>
<!-- //content -->

<!-- Jquery -->
{#	<script src="js/jquery-3.3.1.min.js"></script>#}
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
<!-- //Jquery -->

<!-- effect js -->
{#	<script src="js/canva_moving_effect.js"></script>#}
<script src="{% static 'js/canva_moving_effect.js' %} "></script>
<!-- //effect js -->

</body>

</html>